@media (max-width: 640px) {
  #main {
    right: 24px;
    bottom: 24px;
    margin-top:10px;
  }

  #terminal {
   margin-top:10px;
  }
}

@media (max-width: 376px) {
    .responsive-hide {
    display: none !important;
  }
  .responsive-hide-BUTTON{
     display: none !important;
  
  }
}

  
